.main-nav.transparent {
  background: transparent !important;
}

.main-nav.js-transparent {
  transition: all 0.27s cubic-bezier(0.000, 0.000, 0.580, 1.000);
}

.main-nav.dark {
  box-shadow: none;
}

.full-wrapper {
  margin: 0 2%;
}

.relative {
  position: relative;
}

.nav-logo-wrap {
  float: left;
  margin-right: 20px;
}

.inner-nav ul {
  float: right;
  margin: auto;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.3;
}

.clearlist {
  list-style: none;
  padding: 0;
  background: none;
}

.main-nav {
  width: 100%;
  height: 75px !important;
  top: 0;
  left: 0;
  text-align: left;
  z-index: 1030;
}

.stick-fixed {
  position: fixed !important;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  filter: brightness(0.3);
}

#menu {
  position: absolute;
  left: 141px;
  z-index: 80;
  width: 100%;
  line-height: 12px;
  top: 10px;
}

#menu div {
  height: 63px;
  background: #000;
  opacity: 0.6;
  padding: 7px 0 0 7px;
}

#cont {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  overflow: auto;
}

h1 a {
  padding: 41px 10px 10px 0;
  color: #fff;
  background: #000;
  font-size: 11px;
  text-align: right;
  display: block;
}

h1 {
  position: relative;
  left: -141px;
  margin-bottom: -63px;
  width: 140px;
  opacity: 0.99;
  font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
  font-size: 40px;
}

.left {
  text-align: right;
  right: 100px;
  font-size: 13px;
}

.large {
  top: 20%;
}

.box {
  position: fixed;
  width: 500px;
  padding-bottom: 100px;
  color: white;
}

.large h2 {
  font-size: 60px;
}

li {
  list-style: none;
  color: white;
  display: list-item;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 20px;
  font-weight: lighter;
  opacity: 0.7;
  transition: opacity 0.3s ease;
  background-color: white;
  margin-top: 20px;
}

.btn-ghost:hover {
  opacity: 1;
}