#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#menu {
  position: absolute;
  bottom: 20px;
  left: 141px;
  z-index: 80;
  width: 100%;
  line-height: 12px;
}

#menu div {
  height: 63px;
  background: #000;
  opacity: 0.6;
  padding: 7px 0 0 7px;
}

#cont {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 70;
  overflow: auto;
}

h1 a {
  padding: 41px 10px 10px 0;
  color: #fff;
  background: #000;
  font-size: 11px;
  text-align: right;
  display: block;
}

h1 {
  position: relative;
  left: -141px;
  margin-bottom: -63px;
  width: 140px;
  opacity: 0.99;
  font-family: "Century Gothic","Lucida Grande",Arial,sans-serif;
  font-size: 40px;
}

li {
  list-style: none;
}